.tabulify-table {
    width: 100%;
    text-align: start;
    border-radius: 8px 8px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.tabulify-table-header, 
.tabulify-table-body {
    min-width: 1500px
}

.tabulify-head {
    box-sizing: border-box;
}

.tabulify-head tr th {
    position: relative;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    text-align: start;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s ease;
}

.tabulify-body tr td {
    transition: background 0.2s, border-color 0.2s;
    border-bottom: 1px solid #f0f0f0;
}

.tabulify-body tr td:hover {
    background: #fafafa
}

.tabulify-cell {
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
}